.top-area {

}
.template-area {
  margin-top: 20px;
  .box {
    .category {
      height: 32px;
      margin-top: 5px;
      margin-bottom: 15px;
      padding-left: 15px;
      background-color: #CCFF99;
      border-radius: 20px;
      h2 {
        line-height: 32px;
      }
    }
    .quote-source {
      a { 
        text-decoration: none;
      }
    }
    .list-area {
      table {
        table-layout: fixed;
      }
      td {
        width: auto;
      }
      td.categoryy {
      width: 100px;
      // border-bottom: 2px solid $accent;
      }
      td.nickname {
        text-align: right;
        padding-right: 160px;
        line-height: 1em;
        // border-bottom: 2px solid $accent;
      }
      td.title {
        line-height: 2em;
        border-bottom: 0;
      }
    }
  }
}